DiligenceForm = Ext.extend(Ext.Panel, {
	formPanel : null,
	topbar : null,
	projectId : '$!projectId',
	personId:'$personId',
	businessType : '$!businessType',
	oppositeType : '$!oppositeType',
	productId : '$!productId',
	loanId:'$!loanId',
	safeLevel : 1,
	closesave : true,
	constructor : function(_cfg) {
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		DiligenceForm.superclass.constructor.call(this, {
			iconCls : 'menu-profile-create',
			border : false
		});
	},
	initComponents : function() {
			var jsArr = [
				__ctxPath + '/js/commonFlow/ExtUD.Ext.js',//客户信息 项目基本信息
			    __ctxPath + '/js/creditFlow/smallLoan/quickenLoan/LendForm.js',//借款需求
			    __ctxPath + '/js/creditFlow/customer/person/PersonFinanceInfo.js',//房产信息
			    __ctxPath + '/js/creditFlow/customer/person/workcompany/workCompanyForm1.js',//个人所在公司信息
			    __ctxPath + '/js/creditFlow/customer/person/workcompany/workCompanyPrivateForm.js',//私营业主补填信息
			    __ctxPath + '/js/creditFlow/customer/person/person_branch_company.js',//个人旗下公司信息
			    __ctxPath + '/js/creditFlow/customer/person/relationPerson/RelationPersonView.js',//联系人信息
			    __ctxPath + '/js/creditFlow/report/SlReportView.js',
			    __ctxPath + '/js/creditFlow/finance/SlActualToCharge.js',
			    __ctxPath+'/js/creditFlow/assuretenet/OurProcreditAssuretenetProductView.js',
			    __ctxPath+'/js/creditFlow/smallLoan/materials/OurProcreditMaterialsView.js',
			    __ctxPath+'/js/creditFlow/smallLoan/project/loadDataCommon.js',
			    __ctxPath + '/js/creditFlow/customer/enterprise/addEnterprise.js',
			    __ctxPath + '/js/creditFlow/guarantee/materials/SlEnterPriseProcreditMaterialsView.js',// 贷
				__ctxPath + '/js/commonFlow/NewProjectForm.js',
				__ctxPath + '/js/creditFlow/fund/project/ownFund.js',
		    	__ctxPath + '/js/creditFlow/fund/project/platFormFund.js',
		    	__ctxPath + '/js/creditFlow/finance/OwnFundIntentView.js',
		    	__ctxPath + '/js/creditFlow/finance/SlFundIntentForm.js',
				__ctxPath + '/js/creditFlow/finance/SlFundIntentForm1.js',
					__ctxPath + '/js/creditFlow/finance/selectAccountlForm.js',
				__ctxPath + '/js/creditFlow/finance/selectAccountlForm1.js',
				__ctxPath + '/js/creditFlow/personrelation/netcheck/BpPersonNetCheckInfoView.js',//网审信息
				__ctxPath + '/js/creditFlow/smallLoan/project/loadDataCommonCredit.js'// 加载数据JS
		];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
		//项目基本信息
		this.projectInfo = new ExtUD.Ext.CreditLoanProjectInfoPanel({readOnly:true,product:true,isCPLX:true});
		
		//借款需求
		this.LendForm = new LendForm({
			projectID : this.projectId,
			isAllReadOnly : true,
			isReadOnly:true
		});
	
		
		//个人客户信息
		this.perMain = new ExtUD.Ext.CustomerInfoFastPanel({
			isEditPerson : false,
			isAllReadOnly:true,
			isRead:true,
			isHidden:true,
			isSpouseReadOnly: true,
			isNameReadOnly:true,
			isHiddenCustomerDetailBtn:false,
			loanId:this.loanId
		});		
	
		//个人所在公司信息
		this.workCompany = new 	workCompanyForm1({
			isAllReadOnly : true,
			isReadOnly:true
		});
		//私营业主补填信息
		this.workCompanyPrivate = new workCompanyPrivateForm({
			isAllReadOnly : true,
			isReadOnly:true
		});
		//个人旗下公司信息
		this.branch_company = new person_branch_company_v({
			legalpersonid:this.personId,
			isHiddenAddBtn : true,
			isHiddenDelBtn : true,
			isHiddenEdiBtn : true,
			projectId:this.projectId
		});

		
			//自有资金款项
		this.projectInfoOwnFinance= new ownFund({
			isAllReadOnly:true,
			isReadOnly:true,
			isHiddencalculateBtn:true,
		 	projectId:this.projectId,
		 	isStartDateReadOnly:true,
		 	projectInfoFinance : this.projectInfoFinance,
			idDefinition:'tongyongliucheng1'+this.taskId
		});
	//抵质押物
		this.dYMortgageViewProduct=new DZYMortgageView({
			projectId : this.projectId,
			titleText : '抵质押担保',
			businessType : '$!businessType',
			isHiddenAddBtn:true,
			isHiddenDelBtn:true,
			isHiddenEdiBtn:true,
			isHiddenRelieve:true,
			isblHidden:false,
			isblEdit:false,
			isBl:false,
			isRecieveHidden:true,
			isgdHidden:true,
			formPanel:this.LendForm
		}),
		//保证担保
		this.baozMortgageView= new BaozMortgageView({
			projectId : this.projectId,
			titleText : '保证担保',
			businessType : '$!businessType',
		isHiddenAddBtn:true,
			isHiddenDelBtn:true,
			isHiddenEdiBtn:true,
			isHiddenRelieve:true,
			isRecieveHidden:true,
			isblHidden:false,
			isblEdit:false,
			isBl:false,
			isgdHidden:true,
			formPanel:this.LendForm
		})

		 	
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				labelAlign : 'left',
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSmallloanProjectService.saveSmallProjectInfoNextStep'
			},{
				xtype:'hidden',
				name:'slprojectId',
				value:this.projectId
			},{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				collapsed : true,
				items : [this.projectInfo]
			},{
				xtype : 'fieldset',
				title : '借款需求 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				collapsed : true,
				items : [this.LendForm]
			}, {
				xtype : 'fieldset',
				title :'个人客户信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.perMain,{
					xtype : 'fieldset',
					title :'【公司信息】个人所在公司信息',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items : [this.workCompany]
				},{
					xtype : 'fieldset',
					title :'【公司信息】私营业主请补填',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items : [this.workCompanyPrivate]
				},{
					xtype : 'fieldset',
					title : '【公司信息】个人旗下公司信息',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight:true,
					items : [this.branch_company]
				}]
			}, {
				xtype : 'fieldset',
				title :'自有资金款项信息',
				name:'ownFinanceInfoFieldset',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.projectInfoOwnFinance]
			},{
				xtype : 'fieldset',
				title :'担保措施',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.dYMortgageViewProduct,this.baozMortgageView]
			},{
				xtype : 'fieldset',
				title :'贷款合同',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				name : 'contractView',
				items : []
			}, {
				xtype : 'hidden',
        		name : 'safeLevel',
        		value : 1
			},{
			     xtype:'hidden',
			     name:'task_id',
			     value:this.taskId
	        }]
		})
	
		this.loadData({
			url : __ctxPath + '/project/getSmallLoanProjectInfoSlSmallloanProject.do?slProjectId='+this.projectId+'&slTaskId='+this.taskId,
			method : "POST",
			preName : ['person', 'slSmallloanProject','bpProductParameter','workCompany','bpMoneyBorrowDemand','creditRating'],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
				expandFieldSet(this.formPanel)

				if(alarm_fields.data.comments){
				    this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);
				}
				if(alarm_fields.data.ownBpFundProject){
					this.getCmpByName('ownBpFundProjectMoney').setValue(Ext.util.Format.number(alarm_fields.data.ownBpFundProject.ownJointMoney,'0,000.00'));
					fillFundData(this,alarm_fields,'tongyongliucheng1'+this.taskId);
				}
				this.gridPanel = new OwnFundIntentView({
					projectId : this.projectId,
					object : this.projectInfoOwnFinance,
					preceptId:alarm_fields.data.ownBpFundProject.id,
					isHiddenAddBtn:true,
					isHiddenDelBtn:true,
					isHiddenExcel:false,
					isHiddenResBtn1:false,
					isHiddenautocreateBtn:true,
					isHiddenseeqlideBtn:true,
					isHiddenseesumqlideBtn:true,
					businessType : 'SmallLoan'
				});
				this.getCmpByName('ownFinanceInfoFieldset').add(this.gridPanel);
				this.getCmpByName('ownFinanceInfoFieldset').doLayout()
				this.slContractView=new SlContractView({
				    projectId:alarm_fields.data.ownBpFundProject.id,
				    contractUploadHidden:true,
				    isHiddenAddBtn : true,
				    isHiddenDelBtn : true,
				    isHiddenEdiBtn : true,
				    isSignHidden:true,
				    isHiddenAffrim:true,
				    isHidden:true,
			    	htType : 'loanContract',
			    	HTLX : 'loanContract',
				    businessType : this.businessType,
				    isqsEdit:false,
				    isHiddenTbar:false
				 });
			 var contractView=this.getCmpByName('contractView');
			  contractView.add(this.slContractView)
				 contractView.doLayout();
			}
		});
		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.ownerCt.ownerCt.getCmpByName('commentsRecords').setTitle('任务处理历史【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	},
	saveBusDatas : function(formPanel,fun) {
			formPanel.getForm().submit({
				
			    clientValidation: false, 
				url : __ctxPath + '/project/saveSmallProjectInfoSlSmallloanProject.do',
				params : {
					'comments':formPanel.comments
				},
				method : 'post',
				waitMsg : '数据正在提交，请稍后...',
				scope: this,
				success : function(fp, action) {
					var object = Ext.util.JSON.decode(action.response.responseText)
					Ext.ux.Toast.msg('操作信息', '保存信息成功!');
				},
				failure : function(fp, action) {
					Ext.MessageBox.show({
						title : '操作信息',
						msg : '信息保存出错，请联系管理员！',
						buttons : Ext.MessageBox.OK,
						icon : 'ext-mb-error'
					});
				}
			});
	},
	validate : function(outpanel) {
		return true;
	}
})
