<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!--
		################################################################
	-->

	<!-- action配置 -->
	<bean id="dutypersonAction" class="com.credit.proj.mortgage.dutyperson.action.DutypersonAction"
		scope="prototype">
		<property name="dutypersonService" ref="dutypersonService"></property>
		<property name="mortgageService" ref="mortgageService"></property>
	</bean>
 

	<!-- service配置 -->
	<bean id="dutypersonService"
		class="com.credit.proj.mortgage.dutyperson.service.impl.DutypersonServiceImpl">
		<property name="creditBaseDao" ref="creditBaseDao"></property>
		<property name="mortgageService" ref="mortgageService"></property>
		<property name="vehicleService" ref="vehicleService"></property>
	</bean>
	<bean id="mortgageService" class="com.credit.proj.mortgage.morservice.service.impl.MortgageServiceImpl">
  	<property name="creditBaseDao" ref="creditBaseDao"></property>
  </bean>

</beans>