DiligenceForm = Ext.extend(Ext.Panel, {
	formPanel : null,
	topbar : null,
	projectId : '$!projectId',
	oppositeType : '$!oppositeType',
	businessType : '$!businessType',
	operationType:'$!operationType',
	safeLevel : 1,
	constructor : function(_cfg) {
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		DiligenceForm.superclass.constructor.call(this, {
			iconCls : 'menu-profile-create',
			border : false
		});
	},
	initComponents : function() {
			var jsArr = [__ctxPath + '/js/commonFlow/ExtUD.Ext.js',//客户信息 项目基本信息
			    __ctxPath + '/js/creditFlow/smallLoan/project/loadDataCommon.js',// 加载数据JS
				__ctxPath + '/js/selector/UserDialog.js',
				__ctxPath + '/js/creditFlow/common/EnterpriseShareequity.js',//股东信息
				__ctxPath + '/js/creditFlow/smallLoan/materials/SlProcreditMaterialsView.js',// 贷款材料
				__ctxPath + '/js/creditFlow/assuretenet/SlProcreditAssuretenetForm.js',// 贷款准入原则
				__ctxPath + '/js/creditFlow/report/SlReportView.js',// 调查报告
				//__ctxPath + '/js/creditFlow/finance/FundIntent_formulate_editGrid.js',
				__ctxPath + '/js/creditFlow/finance/calculateFundIntent.js',
				__ctxPath + '/js/creditFlow/finance/calulateFinancePanel.js',
				__ctxPath + '/js/creditFlow/finance/caluateIntentGrid.js',
				__ctxPath + '/js/creditFlow/finance/calulateloadDataCommon.js',
				__ctxPath + '/js/creditFlow/finance/SlActualToCharge.js',
				__ctxPath + '/js/creditFlow/mortgage/AddDzyMortgageWin.js',
				__ctxPath + '/js/creditFlow/mortgage/business/BusinessForm.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/BorrowerInfo.js',
				__ctxPath + '/js/commonFlow/NewProjectForm.js'
		];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
		this.SlProcreditAssuretenetForm = new SlProcreditAssuretenetForm({
		    businessType:this.businessType,
			projectId : this.projectId
		});
		this.SlProcreditMaterialsView = new SlProcreditMaterialsView({
			projectId : this.projectId,
			businessType : this.businessType,
			isHiddenEdit:true,
			isHiddenRecieve: true,
			isHidden_materials : true,
			operationType:this.operationType
		});
		this.perMain = "";
		this.projectInfo = new ExtUD.Ext.McroLoanProjectInfoPanel({
			isAllReadOnly : true,
			isDiligenceReadOnly : true
		});
		this.projectInfoFinance= new ExtUD.Ext.ProjectInfoFinancePanel({
			isDiligenceReadOnly : true,
			projectId:this.projectId,
			idDefinition:'smallfastliucheng'+this.taskId,
			isHiddencalculateBtn:false  
			
		});
		var title="企业客户信息";
		if (this.oppositeType =="person_customer") {
			this.perMain = new ExtUD.Ext.newPeerPersonMainInfoPanel({
				 projectId : this.projectId,
				 isAllReadOnly : true,
				 isNameReadOnly:true,
				 isSpouseReadOnly: true,
				 isReadOnly :true,
				 isHidden : false,
				isEditPerson : true
			});
			title="个人客户信息";
		} else if(this.oppositeType =="company_customer"){
			     this.perMain = new ExtUD.Ext.newPeerMainInfoPanel({
				 projectId : this.projectId,
				 bussinessType:this.businessType,
				 isAllReadOnly : true,
				 isNameReadOnly:false,
				 isReadOnly :true,
				 isHidden : false,
				 isEditEnterprise : true
			});
		}
		this.SlReportView = new SlReportView({
			projectId : this.projectId,
			businessType : 'SmallLoan',
	    	isHidden_report : true
		});
		/*this.gridPanel = new FundIntent_formulate_editGrid({
			projId : this.projectId,
			object : this.projectInfoFinance,
			titleText : '放款收息表',
			isHidden : false,
			calcutype : 1 ,           //贷款
			businessType : 'SmallLoan'
			
		});*/
		/*this.slActualToCharge = new SlActualToCharge({
			projId : this.projectId,
			businessType :'SmallLoan' ,//小贷
			isHidden :true
			
		});*/
	
		this.borrowerInfo=new BorrowerInfo({
			projectId : this.projectId,
			isHidden : true,
			isHiddenAddBtn : true,
			isHiddenDelBtn:true
		});
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				xtype : 'fieldset',
				labelAlign : 'left',
				collapsible : true,
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSmallloanProjectService.updateSmallLoadCheckNextStep'
			}, {
				xtype : 'hidden',
				name : 'gudongInfo'
			}/*, {
				name : 'fundIntentJsonData',
				xtype : 'hidden'
			}*//*, {
				name : 'slActualToChargeJson',
				xtype : 'hidden'
			}*/, {
				name : 'borrowerInfo',
				xtype : 'hidden'
			},{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				items : [this.projectInfo]
			}, {       
			    xtype : 'fieldset',
				title : '贷款基本信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				name:'financeInfoFieldset',
				autoHeight : true,
				items : [
					this.projectInfoFinance
				//	this.gridPanel,
					//this.slActualToCharge
				]
			}, {
				xtype : 'fieldset',
				title :title,
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.perMain]
			},{
				xtype : 'fieldset',
				title : '共同借款人信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.borrowerInfo]
			},{
				xtype : 'fieldset',
				title : '担保措施',
				collapsible : true,
				autoHeight : true,
				items : [
					new DZYMortgageView({
						projectId : this.projectId,
						titleText : '抵质押担保',
						businessType : '$!businessType',
						isHiddenAddBtn :true,
						isHiddenDelBtn :true,
						isHiddenEdiBtn :true,
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isRecieveHidden:true,
						isHiddenRelieve:true,
						isblHidden:true,
						isgdHidden:true,
						formPanel:this.projectInfoFinance
					}),
					new BaozMortgageView({
						projectId : this.projectId,
						titleText : '保证担保',
						businessType : '$!businessType',
						isHiddenAddBtn :true,
						isHiddenDelBtn :true,
						isHiddenEdiBtn :true,
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isRecieveHidden:true,
						isHiddenRelieve:true,
						isblHidden:true,
						isgdHidden:true
					})
					]
			},{
				xtype : 'fieldset',
				title : '贷款资料清单',
				collapsible : true,
				autoHeight : true,
				bodyStyle : 'padding-left: 0px',
				items : [this.SlProcreditMaterialsView]

			}, {
				xtype : 'fieldset',
				collapsible : true,
				autoHeight : true,
				title : '调查报告',
				items : [this.SlReportView]
			}, {
				xtype : 'fieldset',
				collapsible : true,
				autoHeight : true,
				title : '设定审贷会委员',
				items : [{
	                fieldLabel : '设定贷会委员',
	                xtype : 'trigger',
	               // allowBlank : false,
	                //allowText : '必选项',
	                anchor : "70%",
	                triggerClass : 'x-form-search-trigger',
	                editable : false,
	                scope:this,
	                onTriggerClick : function() {
	                	var obj = this;
								var appuerIdObj = obj.nextSibling();
								var userIds = appuerIdObj.getValue();
								if (null == obj.getValue() || "" == obj.getValue()) {
									userIds = "";
								}
								new UserDialog({
									userIds : userIds,
									userName : obj.getValue(),
									single : false,
									type : 'flow',
									branchCompanyId:'$!branchCompanyId',
									title : "选择审贷会委员",
									callback : function(uId, uname) {
										obj.setValue(uId);
										obj.setRawValue(uname);
										appuerIdObj.setValue(uId);
									}
								}).show();
	
	                }
		        },{
	                xtype : "hidden",
	                name : "sbhPartake"
                                        
				}]
			}, {
				xtype : 'hidden',
        		name : 'safeLevel',
        		value : 1
			},{
			     xtype:'hidden',
			     name:'task_id',
			     value:this.taskId
	        },{
			     xtype:'hidden',
			     name:'smallLoanFastSDH',//表示为小贷快速流程的,根据此参数判断执行不同的分支跳转规则。value只要不为空即可。
			     value:1
	        }]
		})

		this.loadData({
			url : __ctxPath + '/creditFlow/getInfoCreditProject.do?taskId='+this.projectId+'&type='+this.businessType+'&task_id='+this.taskId,
			method : "POST",
			preName : ['enterprise', 'person', 'slSmallloanProject',"businessType","enterpriseBank","spouse"],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
				this.infosourceId=alarm_fields.data.slSmallloanProject.infosourceId
				var st = this.getCmpByName('infosourceName').getStore();
				st.on("load", function() {
					this.getCmpByName('infosourceName').setValue(this.infosourceId)
					
				},this)
			    if(typeof(alarm_fields.data.comments)!="undefined"){this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);	}else{this.ownerCt.ownerCt.getCmpByName('comments').setValue("");}
				
			this.getCmpByName('projectMoney1').setValue(Ext.util.Format.number(alarm_fields.data.slSmallloanProject.projectMoney,'0,000.00'))
			if(typeof(alarm_fields.data.enterpriseBank)!="undefined"){
				this.getCmpByName('enterpriseBank.areaName').setValue(alarm_fields.data.enterpriseBank.areaName)
			}
				var appUsers= alarm_fields.data.slSmallloanProject.appUsers;
				var appUserId= alarm_fields.data.slSmallloanProject.appUserId;
				if(""!=appUserId &&  null!=appUserId){
				
				   this.getCmpByName('degree').setValue(appUserId);
				   this.getCmpByName('degree').setRawValue(appUsers);
				   this.getCmpByName('degree').nextSibling().setValue(appUserId);
				}
				if(this.oppositeType =="person_customer"){
					if(alarm_fields.data.person.marry==317){
						this.getCmpByName('spousePanelSmall').show()
					}else{
						this.getCmpByName('spousePanelSmall').hide()
					}
				}
				fillData(this,alarm_fields,'smallfastliucheng'+this.taskId);
			var  nextForm=this.ownerCt.ownerCt;
					var jumpBack=nextForm.getTopToolbar().get(3);
  					jumpBack.hide();
			}
		});
		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.getCmpByName('projectInfo').setTitle('项目基本信息【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	},
	saveBusDatas : function(formPanel) {
				var vDates="";
		       // var fundIntentJsonData=this.gridPanel.getGridDate();
				//var slActualToChargeJsonData=this.slActualToCharge.getGridDate();
				var borrowerInfo=getBorrowerInfoData(this.borrowerInfo.get(0));
				var borrowerInfoGrid=this.borrowerInfo.get(0);
			//	var gridPanel =this.gridPanel.get(1);
			   // var slActualToCharge=this.slActualToCharge;
		        var oppType=this.oppositeType;
		        if(this.oppositeType=="company_customer")
		        {
		           var eg=this.perMain.getCmpByName('gudong_store').get(0).get(1);
		           vDates=getGridDate(eg);
		           if(vDates!=""){
		              var arrStr=vDates.split("@");
					  for(var i=0;i<arrStr.length;i++){
						  var str=arrStr[i];
						  var object = Ext.util.JSON.decode(str)
						 if(object.personid==""){
							 Ext.ux.Toast.msg('操作信息','股东名称不能为空，请选择股东名称');
							 return;
						 }
						  if(object.shareholdertype==""){
								 Ext.ux.Toast.msg('操作信息','股东类别不能为空，请选择股东类别');
								 return;
							 }
					  }
				  }
		        }
				formPanel.getForm().submit({
				    clientValidation: false, 
					url : __ctxPath + '/project/updateSlSmallloanProject.do',
					params : {
						"gudongInfo" : vDates,
						//"fundIntentJsonData":fundIntentJsonData,
						"borrowerInfo" : borrowerInfo,
						//"slActualToChargeJsonData":slActualToChargeJsonData,
						//"isDeleteAllFundIntent" : 1,
						'comments':formPanel.comments
					},
					method : 'post',
					waitMsg : '数据正在提交，请稍后...',
					success : function(fp, action) {
						Ext.ux.Toast.msg('操作信息', '保存信息成功!');
						if(oppType=="company_customer"){
						   eg.getStore().reload();
						}					
						borrowerInfoGrid.getStore().reload;
						//slActualToCharge.savereload();
					},
					failure : function(fp, action) {
						Ext.MessageBox.show({
							title : '操作信息',
							msg : '信息保存出错，请联系管理员！',
							buttons : Ext.MessageBox.OK,
							icon : 'ext-mb-error'
						});
					}
				});
	},
	nextStep:function(rootObj,outpanel){
	        var vDates="";
	        if(rootObj.oppositeType=="company_customer")
	        {
	           var eg=rootObj.perMain.getCmpByName('gudong_store').get(0).get(1);
	           vDates=getGridDate(eg);
	           if(vDates!=""){
	              var arrStr=vDates.split("@");
				  for(var i=0;i<arrStr.length;i++){
					  var str=arrStr[i];
					  var object = Ext.util.JSON.decode(str)
					 if(object.personid==""){
						 Ext.ux.Toast.msg('操作信息','股东名称不能为空，请选择股东名称');
						 return;
					 }
					  if(object.shareholdertype==""){
							 Ext.ux.Toast.msg('操作信息','股东类别不能为空，请选择股东类别');
							 return;
						 }
				  }
			  }
	        }
	        var breachRate= rootObj.getCmpByName('slSmallloanProject.breachRate');
	        if(breachRate.getValue()=="")
	        breachRate.setValue(0);
	        //判断slSmallloanProject.projectMoneyPass 是否有值     
			var projectMoneyPass=rootObj.getCmpByName('slSmallloanProject.projectMoneyPass');
			if(projectMoneyPass.getValue()==""){
			   		 projectMoneyPass.setValue(0);
			 }
			var obj = rootObj.getCmpByName('gudongInfo');
			obj.setValue(vDates);
		//	outpanel.getCmpByName('fundIntentJsonData').setValue(rootObj.gridPanel.getGridDate());
			outpanel.getCmpByName('borrowerInfo').setValue(getBorrowerInfoData(rootObj.borrowerInfo.get(0)));
			//outpanel.getCmpByName('slActualToChargeJson').setValue(rootObj.slActualToCharge.getGridDate());
	},
	validate : function(outpanel) {
		
	     if(this.ownerCt.ownerCt.getCmpByName('jumpPath_display_'+this.taskId).getGroupValue()=='审贷会集体决议'){
	  		if(this.getCmpByName('sbhPartake').getValue()==''){
	  			Ext.Msg.alert('操作信息','设定审贷会委员为必填项，不能为空')
	  			return false;
	  		}
	  		
	  }
	    var rootObj=this;
	    var yearAccrual=0;
	    yearAccrual=computeYearOfAccrual(outpanel);
	    if(yearAccrual>(6.1*4)){
	                if(confirm('您填写的贷款年化利率为'+yearAccrual+'%,超出了国家标准6.10%的4倍，确定要提交下一步吗?')){
	               rootObj.nextStep(rootObj,outpanel);
	                return true;}
	                return false;
	     }else{
	               rootObj.nextStep(rootObj,outpanel);
	               return true;
	     }
	     rootObj.nextStep(rootObj,outpanel);
	     
	                 return true;
	}
})
