RiskAttacheForm = Ext.extend(Ext.Panel, {
	projectId : '$!projectId',
	oppositeType : '$!oppositeType',
	businessType : '$!businessType',
	operationType:'$!operationType',
	safeLevel:1,
	constructor : function(_cfg) {
	    
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		RiskAttacheForm.superclass.constructor.call(this, {
			 iconCls : 'menu-profile-create',
			 border : false
		});
	},
	initComponents : function() {
	      		var jsArr = [__ctxPath + '/js/commonFlow/ExtUD.Ext.js',//客户信息 项目基本信息
				__ctxPath + '/js/selector/UserDialog.js',
				__ctxPath + '/js/creditFlow/common/EnterpriseShareequity.js',//股东信息
				__ctxPath + '/js/creditFlow/guarantee/enterpriseBusiness/enterpriseBusinessUI.js',//项目基本信息
				__ctxPath + '/js/creditFlow/guarantee/enterpriseBusiness/extEnterpriseBusinessUI.js',//项目基本信息
				__ctxPath + '/js/creditFlow/finance/SlActualToCharge.js',//实际收费项目
				__ctxPath + '/js/creditFlow/finance/SlActualToChargePremium.js',//保费列表
				__ctxPath + '/js/creditFlow/guarantee/materials/SlEnterpriseProcreditMaterialsForm.js',// 贷款材料
				__ctxPath + '/js/creditFlow/guarantee/materials/SlEnterPriseProcreditMaterialsView.js',// 贷款材料
				__ctxPath + '/js/creditFlow/report/SlReportView.js',// 调查报告
				__ctxPath + '/js/creditFlow/finance/SlActualToCharge.js',
				__ctxPath + '/js/creditFlow/report/SlRiskReportView.js',// 风险综合分析报告
				__ctxPath + '/js/creditFlow/customer/bankrelationperson/bankDaRelationPersonList.js',
				__ctxPath + '/js/creditFlow/smallLoan/contract/SeeThirdContractWindow.js',// 查看担保措施合同详情
				__ctxPath + '/js/creditFlow/smallLoan/contract/OperateThirdContractWindow.js',// 编辑反担保措施合同
				__ctxPath + '/js/creditFlow/assuretenet/SlProcreditAssuretenetForm.js',// 贷款准入原则
				__ctxPath + '/js/creditFlow/guarantee/enterpriseBusiness/EnterpriseEvaluation.js', //企业评估报告
				__ctxPath + '/js/creditFlow/guarantee/contract/LetterAndBookView.js'// 担保意向书、对外担保承诺函
		
		        ];
		        $ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
	        this.projectInfo = new extEnterpriseBusinessProjectInfoPanel({
			   isDiligenceReadOnly : true,
			   isAllReadOnly:true
		    });
		    this.SlProcreditAssuretenetForm = new SlProcreditAssuretenetForm({
			   projectId : this.projectId,
			   headTitle:'企业融资担保准入原则',
			   businessType:this.businessType,
			   isReadOnly:false
		    });
		    this.SlProcreditMaterialsView = new SlEnterPriseProcreditMaterialsView({
			     projectId : this.projectId,
			     isHidden_materials:false,
			     businessType:this.businessType,
			     isHiddenArchive : true,
			     isHidden_materials : true,
			     operationType:this.operationType
		    });
		    this.projectInfoFinance=new ProjectInfoGuaranteeFinancePanel({isAllReadOnly:true});
		    this.GlActualToChargePanel=new SlActualToCharge({
		    projId : this.projectId,
			businessType :'Guarantee',
			isHidden : true
		    });
		   this.slActualToChargePremium=new SlActualToChargePremium({
			    projId : this.projectId,
			    object : this.projectInfoFinance,
			    isHidden : true,
				businessType :'Guarantee'      
		    });
		    this.SlRiskReportView = new SlRiskReportView({
			projectId : this.projectId,
				businessType : this.businessType,
				isHidden_riskReport : false
		    });//风险综合分析报告
			
		
		  
		    this.bankInfo=new ExtUD.Ext.BankInfoPanel({isAllReadOnly:true});
	        var title="企业客户信息";
	        this.perMain = "";
		    if(this.oppositeType =="person_customer") 
		    {
			    this.perMain = new ExtUD.Ext.PeerPersonMainInfoPanel({
			    	isEditPerson : true,
			    	isHidden:true
			    });
			    title="个人客户信息";
		    } 
		    else if(this.oppositeType =="company_customer")
		    {
			    this.perMain = new ExtUD.Ext.PeerMainInfoPanel({
				projectId : this.projectId,
			    bussinessType:this.businessType,
			    isHidden:true,
				isEnterpriseShortNameReadonly : true,
				isEditEnterprise : true,
				isGudongDiseditable : true
			    });
		    };
		    this.SlReportView = new SlReportView({
		    	projectId : this.projectId,
		    	businessType : this.businessType,
		    	isHiddenColumn : false,
		    	isShowBorder : true,
		    	isHidden : false,
		    	isHidden_report:true,
		    	isHiddenAffrim : true
		    });
		    this.LetterAndBookView = new LetterAndBookView({
		    	projectId : this.projectId,
		    	businessType : this.businessType,
		    	LBTemplate : 'simulateEnterpriseBook',
		    	isHidden : false
		    });
		       //资信评估
		    this.EnterpriseEvaluation=new EnterpriseEvaluationGuarantee({
		        projectId : this.projectId,
			isHidden : true
		    });
		   
		    this.outPanel = new Ext.Panel({
		        modal : true,
				labelWidth : 100,
				buttonAlign : 'center',
				layout : 'form',
				border : false,
				defaults : {
					anchor : '100%',
					xtype : 'fieldset',
					columnWidth : 1,
					labelAlign : 'right',
					collapsible : true,
					autoHeight : true
			    },
			    labelAlign : "right",
			    items : [{  xtype : 'hidden',
					    name : 'preHandler',
					    value : 'gLGuaranteeloanProjectService.gRiskAttacheCheckNextStep'
			},

			   /* {
					    xtype : 'hidden',
					    name : 'preHandler',
					    value : 'gLGuaranteeloanProjectService.diligenceNextStep'
			    },*/
			    /*{
				     xtype : 'hidden',
				     name : 'gudongInfo'
		        }, */{
				     xtype : 'hidden',
				     name : 'fundIntentJsonData1'
		        }, {
				     xtype : 'hidden',
				     name : 'slActualToChargeJsonData1'
		        }, {xtype:'hidden',name :'safeLevel',value:1},{
						xtype : 'fieldset',
						title : '项目控制信息',
						name:'projectInfo',
						collapsible : true,
						autoHeight : true,
						labelAlign : 'right',
						items : [this.projectInfo]
				}, {
				        title :title,
				        items : [this.perMain]
			    }, {
					xtype : 'fieldset',
					title : '银行信息',
					collapsible : true,
					autoHeight : true,
					items : [this.bankInfo]
				}, {       
			    xtype : 'fieldset',
				title : '资金款项信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [
					 this.projectInfoFinance,
					 this.slActualToChargePremium,
					 this.GlActualToChargePanel
				]
			}, {
					xtype : 'fieldset',
					title : '担保材料清单',
					collapsible : true,
					autoHeight : true,
					items : [this.SlProcreditMaterialsView]
			    },{
					xtype : 'fieldset',
					title : '担保准入原则',
					collapsible : true,
					autoHeight : true,
					items : [this.SlProcreditAssuretenetForm]
	
				},{
				xtype : 'fieldset',
				title : '反担保措施',
				collapsible : true,
				autoHeight : true,
				items : [
					new DZYMortgageView({
						projectId : this.projectId,
						titleText : '抵质押担保',
						businessType : '$!businessType',
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isHiddenRelieve:true,
						isHiddenEdiBtn : true,//hide edit btn
						isHiddenAddBtn : true,//hide add btn
						isHiddenDelBtn : true,//hide delete btn
						isRecieveHidden:true,
						isblHidden:true,
						isgdHidden:true
					}),
					new BaozMortgageView({
						projectId : this.projectId,
						titleText : '保证担保',
						businessType : '$!businessType',
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isHiddenRelieve:true,
						isHiddenEdiBtn : true,//hide edit btn
						isHiddenAddBtn : true,//hide add btn
						isHiddenDelBtn : true,//hide delete btn
						isblHidden:true,
						isgdHidden:true,
						isRecieveHidden:true
					})
					]
			},{
					xtype : 'fieldset',
					collapsible : true,
					autoHeight : true,
					title : '客户资信评估',
					items : [this.EnterpriseEvaluation]
			},{
					xtype : 'fieldset',
					collapsible : true,
					autoHeight : true,
					title : '尽职调查报告',
					items : [this.SlReportView]
				},{
					xtype : 'fieldset',
					collapsible : true,
					autoHeight : true,
					title : '风险分析报告',
					items : [this.SlRiskReportView]
				}, {
				     xtype:'hidden',
				     name:'task_id',
				     value:this.taskId
		        }]
		    })
    this.loadData({
            
			//url : __ctxPath + '/creditFlow/getInfoCreditProject.do?taskId='+this.projectId+'&type='+this.businessType+'&task_id='+this.taskId,
    	 	url : __ctxPath + '/creditFlow/guarantee/EnterpriseBusiness/getInfoGLGuaranteeloanProject.do?glProjectId='+this.projectId+'&glTaskId='+this.taskId,
			method : "POST",
			preName : ['enterprise', 'person', 'gLGuaranteeloanProject','customerBankRelationPerson','enterpriseBank',"businessType"],
			root : 'data',
			success : function(response, options) {
			
		              var respText = response.responseText;  
				      var alarm_fields = Ext.util.JSON.decode(respText); 
				      var businessType=alarm_fields.data.gLGuaranteeloanProject.businessType;
				      this.getCmpByName('projectMoney1').setValue(Ext.util.Format.number(alarm_fields.data.gLGuaranteeloanProject.projectMoney,'0,000.00'));
				      this.getCmpByName('earnestmoney1').setValue(Ext.util.Format.number(alarm_fields.data.gLGuaranteeloanProject.earnestmoney,'0,000.00'));
				      /*if(null!=alarm_fields.data.gLGuaranteeloanProject.earnestmoney && ""!=alarm_fields.data.gLGuaranteeloanProject.earnestmoney)
				      {
				        this.getCmpByName('earnestmoney1').setValue(Ext.util.Format.number(alarm_fields.data.gLGuaranteeloanProject.earnestmoney,'0,000.00'))
				      }*/
				      if(typeof(alarm_fields.data.comments)!="undefined"){this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);	}else{this.ownerCt.ownerCt.getCmpByName('comments').setValue("");}
				      //初始化币种 ,贷款用途开始
				      var currencyType=alarm_fields.data.gLGuaranteeloanProject.currencyType;
				      var purposeType=alarm_fields.data.gLGuaranteeloanProject.purposeType;
				      if(purposeType==null || purposeType==""){
				               var purposeTypeObj=this.getCmpByName('gLGuaranteeloanProject.purposeType');
				               if(null!=purposeTypeObj){
			                      var st1=purposeTypeObj.getStore();
						          st1.load({"callback":function(){
						          	    if(st.getCount()>0){
						                        var record = st1.getAt(0);
								                var v = record.data.itemId;
								                purposeTypeObj.setValue(v);
						                 }
						          }});
			          			}
				      }
				      if(currencyType==null || currencyType==""){
				               var currencyTypeObj=this.getCmpByName('gLGuaranteeloanProject.currencyType');
				               if(null!=currencyTypeObj){
			                      var st=currencyTypeObj.getStore();
						          st.load({"callback":function(){
						          	    if(st.getCount()>0){
						                        var record = st.getAt(0);
								                var v = record.data.itemId;
								                currencyTypeObj.setValue(v);
						                 }
						          }});
			          			}
				      }
				      // 初始化币种 ,贷款用途结束  
				      
				      this.getCmpByName('appUsersOfA').clearInvalid();
				      this.getCmpByName('projectMoney1').clearInvalid();
			          this.getCmpByName('customerBankRelationPerson.blmtelephone').clearInvalid();
			          this.getCmpByName('customerBankRelationPerson.duty').clearInvalid();
			          
			           //设置发送邮件默认选中 开始
				       	var  nextForm=this.ownerCt.ownerCt;
					    var emailNext=nextForm.commentsPanel.getCmpByName("emailcheck");;
					    emailNext.setValue(true);
				    	//设置发送邮件结束
					    
					    
				      //	nextForm.getCmpByName('comments').setValue(alarm_fields.data.comments);
				      
			}
		    });
	        this.add(this.outPanel);
		    this.doLayout(); 
		    this.outPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	},
	onGetTaskInfo : function(taskId){
			Ext.Ajax.request({
				url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
				method : 'POST',
				scope:this,
				success : function(response, request) {
					obj = Ext.util.JSON.decode(response.responseText);
					var projectName = obj.data.projectName;
					var createTime = obj.data.createTime;
					var dueTime = obj.data.dueTime;
					var creator = obj.data.creator;
					if(obj.success==true){
						this.getCmpByName('projectInfo').setTitle('项目基本信息[ '+'    任务分配时间：'+createTime+'   任务完成时限：'+dueTime+'   当前处理人：'+creator+' ]');
					}else{
						Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
					}
				},
				failure : function(response,request) {
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				},
				params : {
					taskId : taskId,
					businessType : '$!businessType',
					projectId:'$!projectId'
				}
			});
	},
	saveBusDatas : function(formPanel) {
	    formPanel.getForm().submit({
		    clientValidation: false, 
			url : __ctxPath + '/creditFlow/saveCommentsCreditProject.do',
			params : {
				comments : formPanel.comments
			},
		    method : 'post',
			waitMsg : '数据正在提交，请稍后...',
			success : function(fp, action) {
			    Ext.ux.Toast.msg('操作信息', '保存信息成功!');
			},
			failure : function(fp, action) {
				Ext.MessageBox.show({
					title : '操作信息',
					msg : '信息保存出错，请联系管理员！',
					buttons : Ext.MessageBox.OK,
					icon : 'ext-mb-error'
				});
			}
	  })
	},
	validate : function(outpanel) {
	    var loanRate=this.getCmpByName('gLGuaranteeloanProject.loanRate');
	    if(null==loanRate.getValue() || ""==loanRate.getValue()){
	    	loanRate.setValue(0)
	    }
	    /*var vDates="";
        if(this.oppositeType=="company_customer")
        {
           var eg=this.perMain.getCmpByName('gudong_store').get(0).get(1);
           vDates=getGridDate(eg);
           if(vDates!=""){
              var arrStr=vDates.split("@");
			  for(var i=0;i<arrStr.length;i++){
				  var str=arrStr[i];
				  var object = Ext.util.JSON.decode(str)
				 if(object.personid==""){
					 Ext.ux.Toast.msg('操作信息','股东名称不能为空，请选择股东名称');
					 return;
				 }
				  if(object.shareholdertype==""){
						 Ext.ux.Toast.msg('操作信息','股东类别不能为空，请选择股东类别');
						 return;
					 }
			  }
		  }
        }*/
       	var endDate=this.getCmpByName('gLGuaranteeloanProject.intentDate');
       	var startDate=this.getCmpByName('gLGuaranteeloanProject.acceptDate');
       	if(startDate.getValue()!="" && endDate.getValue()!=""){
	        if(!compareDate(endDate,startDate)){     
         		endDate.invalidText="贷款截至日期必须在贷款开始日期之后!"; 
         		alert("贷款截至日期必须在贷款开始日期之后!");
         		return false;
	        }
       	}
		/*var obj = this.getCmpByName('gudongInfo');
		obj.setValue(vDates);*/
		outpanel.getCmpByName('slActualToChargeJsonData1').setValue(this.GlActualToChargePanel.getGridDate());
		return true;
	}
})
					  
