/**
 * @author:
 * @class SlProcreditAssuretenetView
 * @extends Ext.Panel
 * @description []合同制作
 * @company 北京智维软件有限公司
 * @createtime:
 */
DiligenceForm4 = Ext.extend(Ext.Panel, {
	projectId : '$!projectId',
	oppositeType : '$!oppositeType',
	businessType : '$!businessType',
	safeLevel : 1,
	// 构造函数
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		// 初始化组件
		this.initUIComponents();

		// 调用父类构造
		DiligenceForm4.superclass.constructor.call(this, {
			id : 'DiligenceForm4',
			// title:'合同制作',
			// autoScroll : true,
			border : false,
			items : []
		});

	},// end of constructor

	// 初始化组件
	initUIComponents : function() {
		var jsArr = [
				__ctxPath + '/js/commonFlow/ExtUD.Ext.js',//客户信息 项目基本信息
				__ctxPath + '/js/creditFlow/report/SlReportView.js',
				__ctxPath + '/js/creditFlow/smallLoan/project/loadDataCommonCredit.js',// 加载数据JS
				__ctxPath + '/js/customer/InvestPersonInfoPanelView.js', //投资人
				__ctxPath + '/js/customer/InvestPersonForm.js',//投资人信息
				__ctxPath + '/js/customer/InvestEnterpriseForm.js',//投资人信息
				__ctxPath + '/js/customer/CustomeLinkmanGridPanel.js',
				__ctxPath +'/js/creditFlow/finance/SlActualToChargeProduct.js',
				__ctxPath + '/js/creditFlow/smallLoan/contract/SlContractView.js',//合同
				__ctxPath + '/js/creditFlow/smallLoan/quickenLoan/LendForm.js',//借款需求
				__ctxPath + '/js/creditFlow/fund/project/platFormFund.js',
				__ctxPath + '/js/customer/RegistrationIntentForm.js',
				__ctxPath +'/js/creditFlow/finance/BpFundIntentFapView.js',
				__ctxPath +'/js/creditFlow/finance/SlActualToChargeVM.js'
		];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},// end of the initComponents()

	constructPanel : function() {
		
		//项目基本信息
		this.projectInfo = new ExtUD.Ext.PerCreditLoanProjectInfoPanel({});
		
		//个人客户信息
		this.perMain = new ExtUD.Ext.CustomerInfoFastPanel({
			isEditPerson : false,
			isAllReadOnly:true,
			isRead:true,
			isHidden:true,
			isSpouseReadOnly: true,
			isNameReadOnly:true,
			isHiddenCustomerDetailBtn:false
		});
		
		//资金款项
		this.projectInfoFinance= new platFormFund({
			isAllReadOnly:true,
			isReadOnly:true,
			isHiddencalculateBtn:true,
		 	projectId:this.projectId,
			idDefinition:'tongyongliucheng2'
		});
		
		this.registrationIntentForm=new RegistrationIntentForm({
			projectId : this.projectId,
			bussinessType : 'SmallLoan',
			isFlow:true,
			isHidden:true
		});
		//投资人
		this.investPersonInfoPanelView = this.registrationIntentForm.formPanel.items.items[1];
		
		/*//资金款项
		this.projectInfoFinance= new ExtUD.Ext.ProjectInfoFundPanel({
			isAllReadOnly:true,
			isStartDateReadOnly : true,
			isHiddencalculateBtn:true,
		 	projectId:this.projectId,
			idDefinition:'tongyongliucheng' 
		});
		
		//投资人
		this.investPersonInfoPanelView = new InvestPersonInfoPanelView({
			projectId : this.projectId,
			width : 700,
			isHidden : true,
			bussinessType : "SmallLoan"
		});*/
		
		//放款收息表
		this.gridPanel = new BpFundIntentFapView({
			projectId : this.projectId,
			object : this.projectInfoFinance,
			isHidden : false,
			calcutype : 1 ,    
			isHiddenExcel:true,//贷款
			isHiddenseeqlideBtn:true,
			inverstPersonId:null,
			isHiddenTitle:true,
			isOwnBpFundProject:false,
			businessType : 'SmallLoan',
			fundResource:1,
			isFlow:false
		});
		
		//手续费用
		this.slActualToChargeVM = new SlActualToChargeVM({
			projId : this.projectId,
			isHidden : false,
			businessType : this.businessType,
			isHiddenAddBtn : true,
			isHiddenDelBtn : true,
			isHiddenCheckBtn:false
		});
		
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				labelAlign : 'left',
//				collapsible : true,
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSmallloanProjectService.fangKuanQueRen'
			},{
				name : 'fundIntentJsonData',
				xtype : 'hidden'
			},{
				name:'isDeleteAllFundIntent',
				xtype:'hidden',
				value:'1'
			},{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				items : [this.projectInfo]
			},{
				xtype : 'fieldset',
				title :'个人客户信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.perMain]
			},{
				xtype : 'fieldset',
				title :'资金款项信息',
				name:'platFormfinanceInfoFieldset',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.projectInfoFinance,this.investPersonInfoPanelView,this.gridPanel,this.slActualToChargeVM]
			}]
		})
		this.loadData({
			url : __ctxPath + '/project/getCreditLoanProjectInfoSlSmallloanProject.do?slProjectId='+this.projectId+'&slTaskId='+this.taskId,
			method : "POST",
			preName : ['person','bpProductParameter','platFormBpFundProject'],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
				if(alarm_fields.data.comments){
				    this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);
				}
				if(alarm_fields.data.platFormBpFundProject){
					this.getCmpByName('platFormBpFundProjectMoney').setValue(Ext.util.Format.number(alarm_fields.data.platFormBpFundProject.platFormJointMoney,'0,000.00'));
					fillFundData(this,alarm_fields,'tongyongliucheng2');
				}
				this.gridPanel.jStore.load({
					params : {
						projectId : this.projectId,
						businessType : this.businessType,
						preceptId:this.projectInfoFinance.getCmpByName("platFormBpFundProject.id").getValue(),
						flag1:1
					}
				});
			}
		});
		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));

	},
    goSaveDatas:function(rootObj,outPanel){
		var fundIntentJsonData=rootObj.gridPanel.getGridDate();
		outPanel.getForm().submit({
		    clientValidation: false, 
			url : __ctxPath + '/project/updateLoanSlSmallloanProject.do',
			params : {
				"fundIntentJsonData":fundIntentJsonData,
				comments : outPanel.comments
			},
			method : 'post',
			waitMsg : '数据正在提交，请稍后...',
			success : function(fp, action) {
				Ext.ux.Toast.msg('操作信息', '保存信息成功!');
				gridPanel.save();
			},
			failure : function(fp, action) {
				Ext.MessageBox.show({
					title : '操作信息',
					msg : '信息保存出错，请联系管理员！',
					buttons : Ext.MessageBox.OK,
					icon : 'ext-mb-error'
				});
			}
		});
	},
	saveBusDatas : function(formPanel) {
	   var rootObj=this;
       var fundIntentJsonData=rootObj.gridPanel.getGridDate();
	   formPanel.getForm().submit({
		    clientValidation: false, 
			url : __ctxPath + '/project/updateLoanSlSmallloanProject.do',
			params : {
				"fundIntentJsonData":fundIntentJsonData,
				comments : formPanel.comments
			},
			method : 'post',
			waitMsg : '数据正在提交，请稍后...',
			success : function(fp, action) {
				Ext.ux.Toast.msg('操作信息', '保存信息成功!');
				rootObj.gridPanel.gridPanel.store.reload();
			},
			failure : function(fp, action) {
				Ext.MessageBox.show({
					title : '操作信息',
					msg : '信息保存出错，请联系管理员！',
					buttons : Ext.MessageBox.OK,
					icon : 'ext-mb-error'
				});
			}
		});
	},	
	nextStep:function(rootObj,outPanel){
		outPanel.getCmpByName('fundIntentJsonData').setValue(rootObj.gridPanel.getGridDate());
		return true;
	},
	validate : function(outPanel) {
		 return this.nextStep(this,outPanel);
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.getCmpByName('projectInfo').setTitle('项目基本信息【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	}
})