DiligenceForm = Ext.extend(Ext.Panel, {
	formPanel : null,
	topbar : null,
	projectId : '$!projectId',
	oppositeType : '$!oppositeType',
	businessType : '$!businessType',
	operationType:'$!operationType',
	productId : '$!productId',
	fundProjectId : '$!fundProjectId',
	safeLevel : 1,
	closesave : true,
	constructor : function(_cfg) {
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		DiligenceForm.superclass.constructor.call(this, {
			iconCls : 'menu-profile-create',
			border : false
		});
		
	},
	initComponents : function() {
			var jsArr = [__ctxPath + '/js/commonFlow/ExtUD.Ext.js',//客户信息 项目基本信息
			   __ctxPath + '/js/creditFlow/smallLoan/project/loadDataCommonCredit.js',// 加载数据JS
				__ctxPath + '/js/selector/UserDialog.js',
				__ctxPath + '/js/creditFlow/common/EnterpriseShareequity.js',//股东信息
				__ctxPath + '/js/creditFlow/guarantee/materials/SlEnterPriseProcreditMaterialsView.js',
				__ctxPath + '/js/creditFlow/fund/project/ownFund.js',
				__ctxPath + '/js/creditFlow/finance/SlFundIntentForm.js',
				__ctxPath + '/js/creditFlow/finance/SlFundIntentForm1.js',
				__ctxPath + '/js/creditFlow/finance/SlActualToChargeForm.js',
				__ctxPath + '/js/creditFlow/finance/SlActualToChargeForm1.js',
					__ctxPath + '/js/creditFlow/finance/selectAccountlForm.js',
				__ctxPath + '/js/creditFlow/finance/selectAccountlForm1.js',
		    	__ctxPath + '/js/creditFlow/finance/OwnFundIntentView.js',
				__ctxPath + '/js/creditFlow/assuretenet/SlProcreditAssuretenetedForm.js',// 贷款准入原则
				__ctxPath + '/js/creditFlow/report/SlReportView.js',// 调查报告
				__ctxPath + '/js/creditFlow/report/SlRiskReportView.js',// 调查报告
				__ctxPath + '/js/creditFlow/finance/FundIntent_formulate_editGrid.js',
				__ctxPath + '/js/creditFlow/finance/calculateFundIntent.js',
				__ctxPath + '/js/creditFlow/finance/calulateFinancePanel.js',
				__ctxPath + '/js/creditFlow/finance/caluateIntentGrid.js',
				__ctxPath + '/js/creditFlow/finance/calulateloadDataCommon.js',
				__ctxPath + '/js/creditFlow/finance/SlActualToChargeVM.js',
				__ctxPath + '/js/creditFlow/mortgage/AddDzyMortgageWin.js',
				__ctxPath + '/js/creditFlow/mortgage/business/BusinessForm.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/BorrowerInfo.js',
				__ctxPath + '/js/creditFlow/smallLoan/meeting/MeetingSummaryForm.js',// 会议纪要上传
				__ctxPath + '/js/creditFlow/smallLoan/meeting/MeetingSummaryUpload.js',// 会议纪要文件上传
				__ctxPath + '/js/creditFlow/customer/dictionary/dictionaryNotLastNodeTree.js',
				__ctxPath + '/js/commonFlow/NewProjectForm.js',
				__ctxPath + '/js/creditFlow/finance/detailView.js',
				__ctxPath+'/js/creditFlow/repaymentSource/RepaymentSource.js' //第一还款来源
		];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
	
	
	//项目基本信息
		this.projectInfo = new ExtUD.Ext.CreditLoanProjectInfoPanel({readOnly:true,product:true,isCPLX:true});
			//自有资金款项
		this.projectInfoOwnFinance= new ownFund({
			isAllReadOnly:true,
			isReadOnly:true,
			isHiddencalculateBtn:true,
		 	projectId:this.projectId,
		 	isStartDateReadOnly:false,
		 	isHiddenRemark:false,
		 	isSmall : true,
		 	projectInfoFinance : this.projectInfoFinance,
			idDefinition:'tongyongliucheng1'+this.taskId
		});
		this.gridPanel = new OwnFundIntentView({
			projectId : this.projectId,
			object : this.projectInfoOwnFinance,
			preceptId:this.fundProjectId,
			isHiddenAddBtn:false,
			isHiddenDelBtn:false,
			isHiddenExcel:false,
			isHiddenResBtn1:false,
			isHiddenautocreateBtn:false,
			isHiddenseeqlideBtn:false,
			isHiddenseesumqlideBtn:false,
			businessType : 'SmallLoan'
		});
	
			     //个人客户信息
		this.perMain = new ExtUD.Ext.CustomerInfoFastPanel({
			isEditPerson : false,
			isAllReadOnly:true,
			isRead:true,
			isHidden:true,
			isSpouseReadOnly: true,
			isNameReadOnly:true,
			isHiddenCustomerDetailBtn:false,
			loanId:this.loanId
		});		
	
		this.repaymentSource=new RepaymentSource({
			isHidden:true,
		    projectId:this.projectId
		})

		this.slActualToCharge = new SlActualToChargeVM({
			isHidden:true,
			projId : this.projectId,
			businessType :'SmallLoan',
			isHiddenCheckBtn:false,
			productId : this.productId//小贷
			
		});
		
		this.borrowerInfo=new BorrowerInfo({
			projectId : this.projectId,
			isHidden : true,
			isHiddenAddBtn : true,
			isHiddenDelBtn:true
		});

			this.slContractView=new SlContractView({
				    projectId:this.fundProjectId,
				    contractUploadHidden:true,
				    isSignHidden:true,
				    isHiddenAffrim:true,
				    isHidden:true,
			    	htType : 'loanContract',
			    	HTLX : 'loanContract',
				    businessType : this.businessType,
				     sprojectId:this.projectId,
				    isqsEdit:false,
				    isHiddenTbar:true
				 });
		this.bankAccountPanel=new ExtUD.Ext.BankAccountPanel({
			isReadOnly:true
		})
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				xtype : 'fieldset',
				labelAlign : 'left',
				collapsible : true,
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSmallloanProjectService.savePersonSmallProjectInfoNextStep'
			}, {
				xtype : 'hidden',
				name : 'fundIntentJsonData'
			},{
				xtype : 'hidden',
				name : 'isCheck',
				value :0
			},{
				xtype : 'hidden',
				name : 'fundProjectId',
				value : this.fundProjectId
			},{
				xtype : 'hidden',
				name : 'thisTaskName',
				value : 'loanConfim'
			},{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				collapsed : true,
				items : [this.projectInfo]
			}, {
				xtype : 'fieldset',
				title :'个人客户信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.perMain,
				{
					xtype : 'fieldset',
					title :'贷款账户信息',
					bodyStyle : 'padding-left:0px',
					collapsible : true,
					labelAlign : 'right',
					autoHeight : true,
					items :[this.bankAccountPanel]
				}]
			}, {       
			    xtype : 'fieldset',
				title : '贷款基本信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				name:'ownFinanceInfoFieldset',
				autoHeight : true,
				collapsed : true,
				items : [
					this.projectInfoOwnFinance,
					this.gridPanel,
					this.slActualToCharge
				]
			}, {       
			    xtype : 'fieldset',
				title : '第一还款来源',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [
					this.repaymentSource
				]
			},{
				xtype : 'fieldset',
				title : '共同借款人信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				items : [this.borrowerInfo]
			},{
				xtype : 'fieldset',
				title : '担保措施',
				collapsible : true,
				autoHeight : true,
				collapsed : true,
				items : [
					new DZYMortgageView({
						projectId : this.projectId,
						titleText : '抵质押担保',
						businessType : '$!businessType',
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isBl:false,
						isAllReadOnly:true,
						isblEdit:false,
						isblHidden:false,
						isHiddenAddBtn:true,
						isHiddenDelBtn:true,
						isHiddenEdiBtn:true,
						isHiddenRelieve:true,
						isRecieveHidden:true,
						isgdHidden:true,
						formPanel:this.projectInfoFinance
					}),
					new BaozMortgageView({
						projectId : this.projectId,
						titleText : '保证担保',
						businessType : '$!businessType',
						isBl:false,
						isAllReadOnly:true,
						isblEdit:false,
						isblHidden:false,
						isHiddenAddBtn:true,
						isHiddenDelBtn:true,
						isHiddenEdiBtn:true,
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isHiddenRelieve:true,
						isRecieveHidden:true,
						isgdHidden:true
					})
					]
			},{
				xtype : 'fieldset',
				title :'贷款合同',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				collapsed : true,
				name : 'contractView',
				items : [this.slContractView]
			}, {
				xtype : 'hidden',
        		name : 'safeLevel',
        		value : 1
			},{
			     xtype:'hidden',
			     name:'task_id',
			     value:this.taskId
	        }]
		})
		this.loadData({
			url : __ctxPath + '/project/getPersonSmallLoanProjectInfoSlSmallloanProject.do?slProjectId='+this.projectId+'&slTaskId='+this.taskId,
			method : "POST",
			preName : ['enterprise',  'slSmallloanProject',"businessType","enterpriseBank"],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
				expandFieldSet(this.formPanel)
				if(alarm_fields.data.comments){
				    this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);
				}
				if(typeof(alarm_fields.data.enterpriseBank) != 'undefined'&&this.getCmpByName('enterpriseBank.areaName')!=null) {
					this.getCmpByName('enterpriseBank.areaName').setValue(alarm_fields.data.enterpriseBank.areaName);
				}
				if(alarm_fields.data.ownBpFundProject){
					this.getCmpByName('ownBpFundProjectMoney').setValue(Ext.util.Format.number(alarm_fields.data.ownBpFundProject.ownJointMoney,'0,000.00'));
					fillFundData(this,alarm_fields,'tongyongliucheng1'+this.taskId);
				}
			
			}
		});

		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.ownerCt.ownerCt.getCmpByName('commentsRecords').setTitle('任务处理历史【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	},
	saveBusDatas : function(formPanel,fun) {
				formPanel.getCmpByName('fundIntentJsonData').setValue(this.gridPanel.getGridDate());
				var gridPanel=this.gridPanel
				formPanel.getForm().submit({
				    clientValidation: false, 
					url : __ctxPath + '/project/savePersonSmallProjectInfoSlSmallloanProject.do',
					params : {
						'comments':formPanel.comments
					},
					method : 'post',
					waitMsg : '数据正在提交，请稍后...',
					scope: this,
					success : function(fp, action) {
						var object = Ext.util.JSON.decode(action.response.responseText)
						Ext.ux.Toast.msg('操作信息', '保存信息成功!');
						gridPanel.save()
					 	if(fun){
							fun.call( this.ownerCt.ownerCt)
						}
					},
					failure : function(fp, action) {
						Ext.MessageBox.show({
							title : '操作信息',
							msg : '信息保存出错，请联系管理员！',
							buttons : Ext.MessageBox.OK,
							icon : 'ext-mb-error'
						});
					}
				});
	},

	validate : function(outpanel) {
		this.getCmpByName('fundIntentJsonData').setValue(this.gridPanel.getGridDate());
        return true;
	}
})
