DiligenceForm = Ext.extend(Ext.Panel, {
	formPanel : null,
	topbar : null,
	projectId : '$!projectId',
	oppositeType : '$!oppositeType',
	businessType : '$!businessType',
	operationType:'$!operationType',
	projectMoney : '$!projectMoney',
	payProjectMoney : '$!payProjectMoney',
	baseBusinessType:'$!baseBusinessType',
	leaseFinanceProjectId:'$!leaseFinanceProjectId',
	safeLevel : 1,
	closesave : true,
	constructor : function(_cfg) {
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		DiligenceForm.superclass.constructor.call(this, {
			iconCls : 'menu-profile-create',
			border : false
		});
		
	},
	initComponents : function() {
			var jsArr = [
				__ctxPath + '/js/commonFlow/ExtUD.Ext.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseFinancePanel.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseFundIntent.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseIntentGrid.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseLoadDataCommon.js',
				__ctxPath + '/js/creditFlow/finance/SlFundIntentViewVM.js',
				__ctxPath + '/js/creditFlow/finance/SlActualToCharge.js',
				__ctxPath + '/js/creditFlow/finance/detailView.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/FinanceExtensionlPanel.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/loadDataExtension.js',
				/*租赁标的清单start*/
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseObjectList.js',//租赁标的清单
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseObjectInsuranceInfo.js',//租赁物保险信息
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/AddLeaseObjectWin.js',//租赁标的增加
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseFinanceSuppliorInfo.js',//供货方信息   必须要加载  在win中延迟加载，第一次访问不了  add  by gao
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/selectSupplior.js',//供货方信息  弹窗
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseFinanceUploads.js',//供货方信息  弹窗
				/*租赁标的清单end*/
				__ctxPath + '/js/creditFlow/leaseFinance/LeaseFinanceAddDzyMortgageWin.js' ,
				__ctxPath + '/js/creditFlow/leaseFinance/LeaseFinanceMaterialsForm.js',//抵质押担保材料上传表单
				__ctxPath + '/js/creditFlow/leaseFinance/LeaseFinanceMaterialsView.js',//抵质押担保上传
				__ctxPath + '/js/creditFlow/leaseFinance/UpdateLeaseFinanceMaterialsWin.js',
				__ctxPath + '/js/creditFlow/leaseFinance/enterpriseBusiness/EnterpriseBusinessUI.js'//项目基本信息
				
			];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
		this.projectInfo = new EnterpriseBusinessProjectInfoPanel({
			   isDiligenceReadOnly : true,
			   isMineNameEditable:false
		});
		var DeferApplyInfoPanel =new FinanceExtensionlPanel({
	      	continuationMoney:(this.projectMoney-this.payProjectMoney),
	      	projectId :this.projectId,
	      	businessType:this.businessType,
	      	idDefinition:'extenstion'+this.taskId
	    })
     	this.slActualToCharge = new SlActualToCharge({
			projId : this.leaseFinanceProjectId,
			isThisSuperviseRecord : "yes",
			slSuperviseRecordId : this.projectId,
			businessType :this.baseBusinessType  
		});
		//租赁标的物信息
		this.LeaseObjectList = new LeaseObjectList({//readOnly:true 只查看   暂不支持查看
			projectId:this.projectId
		});
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				xtype : 'fieldset',
				labelAlign : 'left',
				collapsible : true,
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSuperviseRecordService.flLeaseFinancePostponedApplyForNextStep'
			}, {
				name : 'slActualToChargeJson',
				xtype : 'hidden'
			},{
				xtype : 'fieldset',
				title : '租赁物标的清单 ',
				collapsible : true,
				autoHeight : true,
				items : [this.LeaseObjectList]
			},{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				items : [this.projectInfo]
			},{
				xtype : 'fieldset',
				title : '当前资金款项信息 ',
				name:'projectInfo',
				collapsible : true,
				autoHeight : true,
				items : [
						new SlFundIntentViewVM({
				        	isHiddenOperation : false,
							projectId : this.leaseFinanceProjectId,
							businessType : this.businessType,
							isHiddenAddBtn : true,
						    isHiddenDelBtn : true,
						    isHiddenCanBtn : true,
						    isHiddenResBtn : true,
						    isHiddenautocreateBtn:true,
							isHiddenResBtn1:true,
							isFinbtn:true,
							isHidden1:true,
						    slSuperviseRecordId : this.projectId,
						    isUnLoadData :false,
							isThisSuperviseRecord :'no'
						})]
			}, {       
			    xtype : 'fieldset',
				title : '展期登记信息',
				collapsible : true,
				autoHeight : true,
				items : [DeferApplyInfoPanel,
					this.slActualToCharge,
					new DZYMortgageView({
						projectId : this.leaseFinanceProjectId,
						titleText : '抵质押担保',
						businessType : this.baseBusinessType,
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isHiddenRelieve:true,
						isblHidden:true,
						isRecieveHidden:true,
						isgdHidden:true,
						object:DeferApplyInfoPanel
					}),
					new BaozMortgageView({
						projectId : this.leaseFinanceProjectId,
						titleText : '保证担保',
						businessType : this.baseBusinessType,
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isHiddenRelieve:true,
						isRecieveHidden:true,
						isblHidden:true,
						isgdHidden:true
					})
				]
			}, {
				xtype : 'fieldset',
				title :'展期申请书',
				collapsible : true,
				autoHeight : true,
				items : [new uploads({
			    	projectId : this.projectId,
			    	isHidden : false,
			    	businessType :this.baseBusinessType,
			    	isNotOnlyFile : false,
			    	isHiddenColumn : false,
			    	isDisabledButton : false,
			    	setname :'展期申请书',
			    	titleName :'展期申请书',
			    	uploadsSize:100,
			    	tableName:'typeiszhanqiws',
			    	typeisfile :'typeiszhanqiws',
			    	isHiddenOnlineButton :false,
			    	isDisabledOnlineButton :false
			    })]
			}, {
				xtype : 'hidden',
        		name : 'safeLevel',
        		value : 1
			},{
			     xtype:'hidden',
			     name:'task_id',
			     value:this.taskId
	        }]
		})
		this.loadData({
			url : __ctxPath + '/supervise/getFlInfoSlSuperviseRecord.do?projectId='+this.leaseFinanceProjectId+'&slSuperviseRecordId='+this.projectId+'&task_id='+this.taskId,
			method : "POST",
			preName : ['enterprise', 'person', 'flLeaseFinanceProject','slSuperviseRecord','comments'],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
				if(null!=alarm_fields.data.slSuperviseRecord.dateMode){
					var dateModelCom=this.getCmpByName('slSuperviseRecord.dateMode');
					var st=dateModelCom.getStore();
					st.on('load',function(){
						dateModelCom.setValue(alarm_fields.data.slSuperviseRecord.dateMode)
					})
				}
				if(null!=alarm_fields.data.slSuperviseRecord.continuationMoney){
					this.getCmpByName('projectMoney1').setValue(alarm_fields.data.slSuperviseRecord.continuationMoney)
				}else{
					this.getCmpByName('projectMoney1').setValue(this.projectMoney-this.payProjectMoney)
					this.getCmpByName('slSuperviseRecord.continuationMoney').setValue(this.projectMoney-this.payProjectMoney)
				}
				if(this.ownerCt.ownerCt.getCmpByName('comments')){
					if(typeof(alarm_fields.data.comments)!="undefined"){this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);	}else{this.ownerCt.ownerCt.getCmpByName('comments').setValue("");}
				}
				fillDataExtension(DeferApplyInfoPanel,alarm_fields,'extenstion'+this.taskId)
			}
		});

		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.getCmpByName('projectInfo').setTitle('项目基本信息【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	},
	saveBusDatas : function(formPanel,fun) {
		var slActualToChargeJsonData=this.slActualToCharge.getGridDate();
		var slActualToCharge=this.slActualToCharge;
		formPanel.getForm().submit({
		    clientValidation: false, 
			url : __ctxPath + '/supervise/updateFlInfoSlSuperviseRecord.do',
			params : {
				'comments':formPanel.comments,
				"slActualToChargeJsonData":slActualToChargeJsonData,
				'slSuperviseRecordId':this.projectId,
				'projectId':this.leaseFinanceProjectId
			},
			method : 'post',
			waitMsg : '数据正在提交，请稍后...',
			scope: this,
			success : function(fp, action) {
				var object = Ext.util.JSON.decode(action.response.responseText);
				Ext.ux.Toast.msg('操作信息', '保存信息成功!');
				slActualToCharge.savereload();
			 	if(fun){
					fun.call( this.ownerCt.ownerCt)
				}
			},
			failure : function(fp, action) {
				Ext.MessageBox.show({
					title : '操作信息',
					msg : '信息保存出错，请联系管理员！',
					buttons : Ext.MessageBox.OK,
					icon : 'ext-mb-error'
				});
			}
		});
	},
	validate : function(outpanel) {
		var rootObj = this;
		outpanel.getCmpByName('slActualToChargeJson').setValue(rootObj.slActualToCharge.getGridDate());
	    return true;
	}
})
