DiligenceForm = Ext.extend(Ext.Panel, {
	formPanel : null,
	topbar : null,
	projectId : '$!projectId',
	oppositeType : '$!oppositeType',
	businessType : '$!businessType',
	operationType:'$!operationType',
	slSuperviseRecordId:'$!slSuperviseRecordId',
	projectMoney : '$!projectMoney',
	payProjectMoney : '$!payProjectMoney',
	smallbusinessType:'$!smallbusinessType',
	smallProjectId:'$!smallProjectId',
	intentDate : '$!intentDate',
	safeLevel : 1,
	closesave : true,
	constructor : function(_cfg) {
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		DiligenceForm.superclass.constructor.call(this, {
			iconCls : 'menu-profile-create',
			border : false
		});
		
	},
	initComponents : function() {
			var jsArr = [
				__ctxPath + '/js/commonFlow/ExtUD.Ext.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseFinancePanel.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseFundIntent.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseIntentGrid.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/SuperviseLoadDataCommon.js',
				__ctxPath + '/js/creditFlow/finance/SlFundIntentViewVM.js',
				__ctxPath + '/js/creditFlow/finance/detailView.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/FinanceExtensionlPanel.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/loadDataExtension.js',
				__ctxPath + '/js/creditFlow/guarantee/contract/LetterAndBookView.js'
			];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
		var DeferApplyInfoPanel =new FinanceExtensionlPanel({
	      	continuationMoney:(this.projectMoney-this.payProjectMoney),
	      	projectId :this.projectId,
	      	businessType:this.businessType,
	      	dateName:'展期开始日期',
	      	isAllReadOnly:true,
	      	intentDate:this.intentDate,
	      	idDefinition:'extenstion'+this.taskId})
     	var title="企业客户信息";
		if (this.oppositeType =="person_customer") {
			this.perMain = new ExtUD.Ext.newPeerPersonMainInfoPanel({
				 projectId : this.smallProjectId,
				 isAllReadOnly :true,
				 isNameReadOnly:false,
				 isSpouseReadOnly: true,
				 isHidden : true,
				isEditPerson : false
			});
			title="个人客户信息";
		} else if(this.oppositeType =="company_customer"){
			     this.perMain = new ExtUD.Ext.newPeerMainInfoPanel({
				 projectId : this.smallProjectId,
				 bussinessType:this.smallbusinessType,
				 isAllReadOnly : true,
				 isNameReadOnly:false,
				 isHidden : true,
				 isEditEnterprise : false,
				 isHideGudongInfo:true
			});
		}
		this.projectInfo = new ExtUD.Ext.McroLoanProjectInfoPanel({
			isAllReadOnly : true 
		});
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				xtype : 'fieldset',
				labelAlign : 'left',
				collapsible : true,
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSuperviseRecordService.updateExtenstionApprovalAgain'
			},{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				items : [this.projectInfo]
			}, {
				xtype : 'fieldset',
				title :title,
				collapsible : true,
				autoHeight : true,
				items : [this.perMain]
			},{
				xtype : 'fieldset',
				title : '当前资金款项信息 ',
				collapsible : true,
				autoHeight : true,
				items : [new SlFundIntentViewVM({
				        	isHiddenOperation : false,
							projectId : this.smallProjectId,
							businessType : this.smallbusinessType,
							isHiddenAddBtn : true,
						    isHiddenDelBtn : true,
						    isHiddenCanBtn : true,
						    isHiddenResBtn : true,
						    isHiddenautocreateBtn:true,
							isHiddenResBtn1:true,
							isFinbtn:true,
							isHidden1:true,
						    slSuperviseRecordId : 'noid',
						    isUnLoadData :false,
							isThisSuperviseRecord :'no'
						})]
			},{				
				xtype : 'fieldset',
				name:'projectInfo',
				title : '审贷会集体决议 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				items : [new ExtUD.Ext.ExecutiveOpinion({
					projectId : this.projectId,
					businessType : this.businessType
				})]			
			}, {       
			    xtype : 'fieldset',
				title : '展期登记信息',
				collapsible : true,
				autoHeight : true,
				items : [DeferApplyInfoPanel,
					new DZYMortgageView({
						projectId : this.smallProjectId,
						titleText : '抵质押担保',
						businessType : this.smallbusinessType,
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isHiddenRelieve:true,
						isblHidden:true,
						isRecieveHidden:true,
						isgdHidden:true,
						formPanel:DeferApplyInfoPanel
					}),
					new BaozMortgageView({
						projectId : this.smallProjectId,
						titleText : '保证担保',
						businessType : this.smallbusinessType,
						isHiddenAddContractBtn:true,
						isHiddenDelContractBtn:true,
						isHiddenEdiContractBtn:true,
						isHiddenRelieve:true,
						isRecieveHidden:true,
						isblHidden:true,
						isgdHidden:true
					})
				]
			}, {
				xtype : 'fieldset',
				title :'展期申请书',
				collapsible : true,
				autoHeight : true,
				items : [new uploads({
		    	projectId : this.projectId,
		    	isHidden : true,
		    	businessType :this.businessType,
		    	isNotOnlyFile : false,
		    	isHiddenColumn : false,
		    	isDisabledButton : false,
		    	setname :'展期申请书',
		    	titleName :'展期申请书',
		    	tableName:'typeiszhanqiws',
		    	typeisfile :'typeiszhanqiws',
		    	isHiddenOnlineButton :false,
		    	isDisabledOnlineButton :false
		    })]
			}/*, {       
			    xtype : 'fieldset',
				title : '展期终审意见通知书',
				collapsible : true,
				autoHeight : true,
				items : [new LetterAndBookView({
					projectId:this.projectId,
					businessType: this.businessType,
					LBTemplate:'superviseRecordNote',
					isHidden:false
				})]
			}*/, {       
			    xtype : 'fieldset',
				title : '展期审批表',
				collapsible : true,
				autoHeight : true,
				items : [new LetterAndBookView({
					projectId:this.projectId,
					businessType: this.businessType,
					titleText: '展期审批表',
					LBTemplate:'superviseRecordVerification',
					isHidden:false
				})]
			}, {
				xtype : 'hidden',
        		name : 'safeLevel',
        		value : 1
			},{
			     xtype:'hidden',
			     name:'task_id',
			     value:this.taskId
	        }]
		})

		this.loadData({
			url : __ctxPath + '/supervise/getInfoSlSuperviseRecord.do?projectId='+this.smallProjectId+'&slSuperviseRecordId='+this.projectId+'&task_id='+this.taskId,
			method : "POST",
			preName : ['enterprise', 'person', 'slSmallloanProject',"slSuperviseRecord",'comments'],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
				this.getCmpByName('payintentPeriod').setValue(alarm_fields.data.slSuperviseRecord.payintentPeriod)
				this.getCmpByName('projectMoney1').setValue(alarm_fields.data.slSuperviseRecord.continuationMoney)
			   this.getCmpByName('degree').setValue(alarm_fields.data.slSmallloanProject.appUserId);
			   this.getCmpByName('degree').setRawValue(alarm_fields.data.slSmallloanProject.appUserName);
			   this.getCmpByName('degree').nextSibling().setValue(alarm_fields.data.slSmallloanProject.appUserId);
				this.infosourceId=alarm_fields.data.slSmallloanProject.infosourceId
				var st = this.getCmpByName('infosourceName').getStore();
				st.on("load", function() {
					this.getCmpByName('infosourceName').setValue(this.infosourceId)
					
				},this)
				if(this.oppositeType =="person_customer"){
					if(alarm_fields.data.person.marry==317){
						this.getCmpByName('spousePanelSmall').show()
					}else{
						this.getCmpByName('spousePanelSmall').hide()
					}
				}
			    if(typeof(alarm_fields.data.comments)!="undefined"){this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);	}else{this.ownerCt.ownerCt.getCmpByName('comments').setValue("");}
				fillDataExtension(DeferApplyInfoPanel,alarm_fields,'extenstion'+this.taskId)
			}
		});

		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.getCmpByName('projectInfo').setTitle('项目基本信息【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	},
	saveBusDatas : function(formPanel,fun) {
	
		formPanel.getForm().submit({
		    clientValidation: false, 
			url : __ctxPath + '/supervise/updateInfoSlSuperviseRecord.do',
			params : {
				'comments':formPanel.comments,
				'slSuperviseRecordId':this.projectId
			},
			method : 'post',
			waitMsg : '数据正在提交，请稍后...',
			scope: this,
			success : function(fp, action) {
				var object = Ext.util.JSON.decode(action.response.responseText)
				Ext.ux.Toast.msg('操作信息', '保存信息成功!');
				
			 	if(fun){
					fun.call( this.ownerCt.ownerCt)
				}
			},
			failure : function(fp, action) {
				Ext.MessageBox.show({
					title : '操作信息',
					msg : '信息保存出错，请联系管理员！',
					buttons : Ext.MessageBox.OK,
					icon : 'ext-mb-error'
				});
			}
		});
	},
	validate : function(outpanel) {
		var continuationMoney=this.getCmpByName('slSuperviseRecord.continuationMoney').getValue()
		if(eval(continuationMoney)>eval(this.projectMoney)){
			Ext.Msg.alert('操作信息','展期金额不能大于项目金额');
			return false
		}
	    return true;
	}
})
