@charset "utf-8";
/* CSS Document */
/*w-15*/
@media screen and (max-width:1200px){
	.w-15{
    width:32%;
	}
	.mr-0-yew{
		margin-right:0;
	}
}

@media screen and (max-width:992px){
	.w-15{
		width:48.555%;
	}
	.mr-0-yw{
		margin-right:0;
	}
	.mr-0-yew{
		margin-right:15px;
	}
}

@media screen and (max-width:768px){
	.w-15{
		width:100%;
	}
}
/*w-20*/
@media screen and (max-width:1200px){
	.w-20{
		width:32%;
	}
	.mr-0-sby{
		margin-right:0;
	}
}

@media screen and (max-width:992px){
	.w-20{
		width:48.6%;
	}
	.mr-0-sb{
		margin-right:0;
	}
	.mr-0-sby{
		margin-right:15px;
	}
}

@media screen and (max-width:768px){
	.w-20{
		width:100%;
	}
}

/*w-25*/
@media screen and (max-width:1200px){
	.w-25 {
		width:49%;
	}
	.mr-0-cw{
		margin-right:0;
	}

}
@media screen and (max-width:992px){
	.w-25{
		width:48.6%;
	}
	.mr-0-cw{
		margin-right: 0;
	}
}

@media screen and (max-width:768px){
	.w-25{
		width:100%;
		margin-right:0;
	}
}
/*w-30*/
@media screen and (max-width:1200px){
	.w-30 {
		width:32%;
	}

}
@media screen and (max-width:992px){
	.w-30{
		width:48.555%;
	}
	.mr-0-cf{
		margin-right:0;
	}
}

@media screen and (max-width:768px){
	.w-30{
		width:100%;
	}
}
@media screen and (max-width:1200px) {
	.data-left-all>.data-left{
		width:100%;
	}
}

@media screen and (max-width:992px) {
	.data-left-all>.data-left{
		width:100%;
	}
}

@media screen and (max-width:768px) {
	.data-left-all>.data-left {
		width:100%;
	}
}

@media screen and (max-width:1200px) {
	.data-left-all>.data-left>.data-list01 {
		width:49%;
	}
	.data-left-all>.data-left>.data-list02{
		margin-right:0;
	}
}
@media screen and (max-width:992px) {
	.data-left-all>.data-left>.data-list01 {
		width:100%;
		margin-right:0;
	}
}

@media screen and (max-width:768px) {
	.data-left-all>.data-left>.data-list01 {
		width:100%;
		margin-right:0;
	}
}


@media screen and (max-width:1200px) {
	.data-left-all>.data-right {
		width:100%;
	}
}

@media screen and (max-width:992px) {
	.data-left-all>.data-right {
		width:100%;
	}
}

@media screen and (max-width:768px) {
	.data-left-all>.data-right {
		width:100%;
	}
}

/*融资页面*/
@media screen and (max-width:1200px) {
	.pro-analysed {
		width:100%;
		margin-bottom: 25px;
	}

}

@media screen and (max-width:992px) {
	.pro-analysed {
		width:100%;
		margin-bottom: 25px;
	}
}

@media screen and (max-width:768px) {
	.pro-analysed{
		width:100%;
		margin-bottom: 25px;
	}
}

@media screen and (max-width:1200px) {
	.pro-analysed .pro-anal-data dl{
		width:17.55%;
		margin-bottom: 25px;
	}

}

@media screen and (max-width:992px) {
	.pro-analysed .pro-anal-data dl{
		width:40%;
		margin-bottom: 25px;
	}
	.pro-analysed .pro-anal-data .bdrline-none{
		border-right:2px solid #ccc !important;
	}
}

@media screen and (max-width:768px) {
	.pro-analysed .pro-anal-data dl{
		width:89%;
		margin-bottom: 25px;
	}

}

/*车贷桌面*/
@media screen and (max-width:1200px) {
	.content .ched-box .ched-data{
		width:48.555%;
	}
	.content .ched-box .mr-0-cd{
		margin-right: 0!important;
	}
	.clear{
		clear: both;
	}
}

@media screen and (max-width:992px) {
	.content .ched-box .ched-data{
		width:48.1%;
	}
	.content .ched-box .mr-0-cd{
		margin-right:0;
	}
	.clear{
		clear: both;
	}
}

@media screen and (max-width:768px) {
	.content .ched-box .ched-data{
		width:100%;
	}

}