DiligenceForm = Ext.extend(Ext.Panel, {
	formPanel : null,
	topbar : null,
	projectId : '$!projectId',
	oppositeType : '$!oppositeType',
	businessType : '$!businessType',
	slEarlyRepaymentId:'$!slEarlyRepaymentId',
	surplusnotMoney:'$!surplusnotMoney',
	safeLevel : 1,
	closesave : true,
	constructor : function(_cfg) {
		if (_cfg == null) {
			_cfg = {};
		}
		Ext.applyIf(this, _cfg);
		this.initComponents();
		DiligenceForm.superclass.constructor.call(this, {
			iconCls : 'menu-profile-create',
			border : false
		});
		
	},
	initComponents : function() {
			var jsArr = [__ctxPath + '/js/commonFlow/ExtUD.Ext.js',//客户信息 项目基本信息,
				__ctxPath + '/js/creditFlow/leaseFinance/finance/LeaseFundIntentView.js',
				__ctxPath + '/js/creditFlow/smallLoan/finance/EarlyRepaymentSlFundIntent.js',// 利率变更款项
				__ctxPath + '/js/creditFlow/leaseFinance/finance/LeaseFinanceEarlyRepaymentPanel.js',// 利率变更panel
				__ctxPath + '/js/creditFlow/leaseFinance/enterpriseBusiness/EnterpriseBusinessUI.js',//项目基本信息
						/*租赁标的清单start*/
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseObjectList.js',//租赁标的清单
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseObjectInsuranceInfo.js',//租赁物保险信息
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/AddLeaseObjectWin.js',//租赁标的增加
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseFinanceSuppliorInfo.js',//供货方信息   必须要加载  在win中延迟加载，第一次访问不了  add  by gao
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/selectSupplior.js',//供货方信息  弹窗
				__ctxPath + '/js/creditFlow/leaseFinance/leaseobject/LeaseFinanceUploads.js'//供货方信息  弹窗
				/*租赁标的清单end*/
		];
		$ImportSimpleJs(jsArr, this.constructPanel, this);
	},
	constructPanel : function() {
		
		this.perMain = "";
		this.projectInfo = new EnterpriseBusinessProjectInfoPanel({
			   isDiligenceReadOnly : true,
			    isAllReadOnly:true,
			   isMineNameEditable:false
		});
	
		var title="企业客户信息";
		if (this.oppositeType =="person_customer") {
			this.perMain = new ExtUD.Ext.PeerPersonMainInfoPanel({
				isEditPerson : false,
				isReadOnly:true,
				isSpouseReadOnly: true,
				isNameReadOnly:true,
				isHideGudongInfo:true
			});
			title="个人客户信息";
		} else if(this.oppositeType =="company_customer"){
			
			     this.perMain = new ExtUD.Ext.PeerMainInfoPanel({
				 projectId : this.projectId,
				 bussinessType:this.businessType,
				 isEditEnterprise : false,
				 isReadOnly:true,
				 isNameReadOnly:true
			});
		}
		this.gridPanel=new LeaseFundIntentView({
				isHiddenOperation : false,
				projectId :  this.projectId,
				businessType :  this.businessType,
				isHiddenAddBtn : true,
				isHiddenDelBtn : true,
				isHiddenCanBtn : true,
				isHiddenResBtn : true,
				isHiddenautocreateBtn:true,
				isHiddenResBtn1:true,
				isFinbtn:true,
				isHidden1 : true,
				isThisEarlyPaymentRecordId : this.slEarlyRepaymentId,
				isUnLoadData : false,
				isThisEarlyPaymentRecord : 'no'
		})
						
		this.DeferApplyInfoPanel = new LeaseFinanceEarlyRepaymentPanel({
			surplusnotMoney : this.surplusnotMoney,
			payintentPeriod : this.payintentPeriod,
			idDefinition:'earlyRepayment'+this.taskId,
			projectId : this.projectId,
			slAlterAccrualRecorddata : null,
			businessType:this.businessType
		})
		 this.earlyRepaymentSlFundIntent = new EarlyRepaymentSlFundIntent({
			object : this.DeferApplyInfoPanel,
	//		preaccrualtype : accrualtype,
			projId : this.projectId,
			titleText : '放款收息表',
			isHidden : false,
			businessType : this.businessType,
			isThisEarlyPaymentRecordId : this.slEarlyRepaymentId,
			isUnLoadData : false,
			isThisEarlyPaymentRecord : 'yes',
			isScHidden:false
		})
		this.uploads = new uploads({
			projectId : this.projectId,
			isHidden : false,
			tableName : 'sl_earlyrepayment_record',
			typeisfile : 'sl_earlyrepayment_record.'+this.slEarlyRepaymentId,
			businessType : this.businessType,
			uploadsSize : 15
		})
			//租赁标的物信息
		this.LeaseObjectList = new LeaseObjectList({//readOnly:true 只查看   暂不支持查看
			projectId:this.projectId,
			readOnly:true
		});
		this.formPanel = new Ext.Panel({
			modal : true,
			labelWidth : 100,
			buttonAlign : 'center',
			layout : 'form',
			border : false,
			defaults : {
				anchor : '100%',
				xtype : 'fieldset',
				labelAlign : 'left',
				collapsible : true,
				autoHeight : true
			},
			items : [{
				xtype : 'hidden',
				name : 'preHandler',
				value : 'slSuperviseRecordService.askForEarlyRepaymentProjectFlowNextStep'
			}, {
				xtype : 'hidden',
				name : 'businessType_flow',
				value:this.businessType
			}, {
				xtype : 'hidden',
				name : 'projectId_flow',
				value:this.projectId
			}, {
				xtype : 'hidden',
				name : 'slEarlyRepaymentId',
				value:this.slEarlyRepaymentId
			}, {
				name : 'fundIntentJsonData',
				xtype : 'hidden'
			},{
				xtype : 'fieldset',
				name:'projectInfo',
				title : '项目基本信息 ',
				collapsible : true,
				autoHeight : true,
				labelAlign : 'right',
				items : [this.projectInfo]
			}, {
				xtype : 'fieldset',
				title :title,
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [this.perMain]
			},{
				xtype : 'fieldset',
				title : '租赁物标的清单 ',
				collapsible : true,
				autoHeight : true,
				items : [this.LeaseObjectList]
			}
			, {       
			    xtype : 'fieldset',
				title : '当前款项资金信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				name:'historyfinance',
				autoHeight : true,
				items : [
					this.gridPanel
				]
			},{
				xtype : 'fieldset',
				title : '提前还款登记信息',
				bodyStyle : 'padding-left:0px',
				collapsible : true,
				labelAlign : 'right',
				autoHeight : true,
				items : [
				    this.DeferApplyInfoPanel,
					this.earlyRepaymentSlFundIntent
				]
			}, {
				xtype : 'fieldset',
				collapsible : true,
				autoHeight : true,
				title : '提前还款申请表',
				items : [this.uploads]
			},{
				xtype : 'hidden',
        		name : 'safeLevel',
        		value : 1
			},{
			     xtype:'hidden',
			     name:'task_id',
			     value:this.taskId
	        }]
		})

		this.loadData({
			url : __ctxPath + '/supervise/getInfoAheadRefundSlSuperviseRecord.do?projectId='+this.projectId+'&type='+this.businessType+'&task_id='+this.taskId+'&loanedTypeId='+this.slEarlyRepaymentId+'&loanedTypeKey=earlyReyment',
			method : "POST",
			preName : ['flLeaseFinanceProject','slEarlyRepaymentRecord','enterprise', 'person',"enterpriseBank","spouse",'payintentPeriod'],
			root : 'data',
			success : function(response, options) {
				var respText = response.responseText;
				var alarm_fields = Ext.util.JSON.decode(respText);
			    if(typeof(alarm_fields.data.comments)!="undefined"){this.ownerCt.ownerCt.getCmpByName('comments').setValue(alarm_fields.data.comments);	}else{this.ownerCt.ownerCt.getCmpByName('comments').setValue("");}				
				if(typeof(alarm_fields.data.enterpriseBank) != 'undefined') {
					this.getCmpByName('enterpriseBank.areaName').setValue(alarm_fields.data.enterpriseBank.areaName);
				}
				this.getCmpByName('projectMoney1').setValue(Ext.util.Format.number(alarm_fields.data.slEarlyRepaymentRecord.earlyProjectMoney,'0,000.00'));
				var payintentPeriod=alarm_fields.data.payintentPeriod
				if(null!=payintentPeriod){
					this.getCmpByName('prepayintentPeriod1').setValue(payintentPeriod+'.'+alarm_fields.data.slEarlyRepaymentRecord.prepayintentPeriod)
					if(payintentPeriod==0){
						this.getCmpByName('prepayintentPeriod1').setRawValue('第'+alarm_fields.data.slEarlyRepaymentRecord.prepayintentPeriod+'期')
					}else{
						this.getCmpByName('prepayintentPeriod1').setRawValue('展期第'+alarm_fields.data.slEarlyRepaymentRecord.prepayintentPeriod+'期')
					}
				}
			}
		});

		this.add(this.formPanel);
		this.doLayout();
		this.formPanel.on('render', this.onGetTaskInfo.call(this,this.taskId));
	
	},
	onGetTaskInfo : function(taskId){
		Ext.Ajax.request({
			url : __ctxPath + "/creditFlow/getTaskInfoCreditProject.do",
			method : 'POST',
			scope:this,
			success : function(response, request) {
				obj = Ext.util.JSON.decode(response.responseText);
				var projectName = obj.data.projectName;
				var createTime = obj.data.createTime;
				var dueTime = obj.data.dueTime;
				var creator = obj.data.creator;
				if(obj.success==true){
					this.getCmpByName('projectInfo').setTitle('项目基本信息【任务分配时间：'+createTime+'&nbsp;&nbsp;任务完成时限：'+dueTime+'&nbsp;&nbsp;当前处理人：'+creator+'】');
				}else{
					Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
				}
			},
			failure : function(response,request) {
				Ext.ux.Toast.msg('操作信息', '查询任务完成时限操作失败!');
			},
			params : {
				taskId : taskId,
				businessType : '$!businessType',
				projectId:'$!projectId'
			}
		});
	},
	saveBusDatas : function(formPanel,fun) {
				 var fundIntentJsonData=this.earlyRepaymentSlFundIntent.getGridDate();
				var  earlyRepaymentSlFundIntent=this.earlyRepaymentSlFundIntent;
				formPanel.getForm().submit({
				    clientValidation: false, 
					url : __ctxPath + '/supervise/askForEarlyRepaymentFlowSlSuperviseRecord.do',
					params : {
						"intent_plan_earlyRepayment":fundIntentJsonData,
						'comments':formPanel.comments,
						'projectId':this.projectId
						
					},
					method : 'post',
					waitMsg : '数据正在提交，请稍后...',
					scope: this,
					success : function(fp, action) {
						var object = Ext.util.JSON.decode(action.response.responseText)
						Ext.ux.Toast.msg('操作信息', '保存信息成功!');
				        earlyRepaymentSlFundIntent.save();
					},
					failure : function(fp, action) {
						Ext.MessageBox.show({
							title : '操作信息',
							msg : '信息保存出错，请联系管理员！',
							buttons : Ext.MessageBox.OK,
							icon : 'ext-mb-error'
						});
					}
				});
	},
	
	validate : function(outpanel) {
	    outpanel.getCmpByName('fundIntentJsonData').setValue(this.earlyRepaymentSlFundIntent.getGridDate());
	    var earlyProjectMoney=this.getCmpByName('slEarlyRepaymentRecord.earlyProjectMoney');
	    if(eval(earlyProjectMoney)>eval(this.surplusnotMoney)){
	    	Ext.Msg.alert('操作信息','还款金额不能大于剩余金额');
	    	return false;
	    }
	     return true;
	}
})
